.author {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 10rem;
  border-radius: 100%;
  border: 2px solid var(--background-variant);
  box-shadow: 0 0 10px -4px var(--foreground-variant);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}


.signoutContainer {
  margin-top: 0.5rem;
  height: 3rem;
  box-sizing: border-box;
  padding: 0 0 4px 0;
  transition: padding 0.1s;
}

.signoutContainer:hover,
.signoutContainer:active {
  padding: 2px 0 2px 0;
}

.signout {
  font-weight: bold;
  padding: 0 2rem;
  height: 100%;
  border: none;
  border-radius: 0.2rem;
  color: var(--light);
  background-color: var(--primary);
  box-shadow: 0 4px var(--primary-highlight);
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.signoutContainer:hover .signout,
.signoutContainer:active .signout {
  box-shadow: 0 2px var(--primary-variant);
}

.head {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 2rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.description {
  font-size: 1rem;
  font-weight: 400;
}
