:root {
  --light: #f8f9fa;
  --light-filter: invert(87%) sepia(44%) saturate(5%) hue-rotate(166deg) brightness(103%) contrast(99%);
  --dark: #212529;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;

  --header: #f8f9faff;
  --foreground: #212529ff;
  --foreground-variant: #969b9fff;
  --foreground-filter: invert(11%) sepia(10%) saturate(762%) hue-rotate(169deg) brightness(91%) contrast(90%);
  --background: #f8f9faff;
  --background-highlight: #d8d8d8ff;
  --background-variant: #eaebec;
  --background-select: rgb(220, 222, 224);
  --shadow: #21252938;
  --gray: #a5a9adff;
  --gray-variant: #60676eff;

  --primary: #005afaff;
  --primary-variant: #023faaff;
  --primary-highlight: #044ac3ff;
  --primary-shadow: #005afa80;
  --primary-filter: invert(24%) sepia(98%) saturate(4100%) hue-rotate(217deg) brightness(97%) contrast(102%);
  --primary-variant-filter: invert(15%) sepia(73%) saturate(4074%) hue-rotate(217deg) brightness(90%) contrast(99%);

  --accent: #ffd60aff;
  --accent-variant: #ffc300ff;

  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header: #212529ff;
    --foreground: #f8f9faff;
    --foreground-variant: #121417ff;
    --foreground-filter: invert(95%) sepia(2%) saturate(86%) hue-rotate(163deg) brightness(103%) contrast(98%);
    --background: #212529ff;
    --background-highlight: #3b4046ff;
    --background-variant: #292e34ff;
    --background-select: #3b4046ff;
    --shadow: #12141738;
    --gray: #616971ff;
    --gray-variant: #606971ff;

    --primary: #00a6fbff;
    --primary-variant: #0582caff;
    --primary-highlight: #297398;
    --primary-shadow: #00a6fb80;
    --primary-filter: invert(45%) sepia(98%) saturate(2031%) hue-rotate(170deg) brightness(98%) contrast(107%);
    --primary-variant-filter: invert(37%) sepia(71%) saturate(2587%) hue-rotate(179deg) brightness(88%) contrast(96%);

    --bs-body-color: #adb5bd;
    --bs-body-bg: #212529;
    --bs-secondary-color: rgba(173, 181, 189, 0.75);
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
  }
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  background-color: var(--background);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body {
  color: var(--foreground);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

#__next {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5rem 1fr 2rem;
  justify-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--foreground);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: baseline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
